# dependencies
**/node_modules
.pnpm-store
/.pnp
.pnp.*

# testing
**/coverage

# next.js
**/.next/
**/out/
**/.turbo/

# production / build
**/build
**/dist

# strapi
apps/cms/.cache
apps/cms/.tmp
apps/cms/.strapi
apps/cms/exports

# drizzle
packages/db/drizzle/meta

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env files
.env
.env*
!.env.example

# typescript
*.tsbuildinfo
**/next-env.d.ts
